* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
   box-sizing: border-box;
}

body {
   background-color:rgb(239, 239, 241);
}

.navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 80px;
   padding-bottom: 10px;
   padding-top: 10px;
}

.navbar ul li {
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   position: relative;
 }

.navbar ul li a {
   text-decoration: none;
}

.navbar ul li::after {
   content: "";
   height: 3px;
   width: 0;
   background: rgb(92,55,36);
   position: absolute;
   left: 0;
   bottom: -3px;
   transition: 0.5s;
}
 
.navbar ul li:hover::after {
   width: 90%;
}

.pages {
   font-size: 22px;
   color: black;
   margin-right: 60px;
   cursor: pointer;
}

/* .pages:hover {
   text-decoration: underline;
} */

#shop {
   background-color: rgb(92,55,36);
   color: white;
   margin-top: 10px;
   padding: 10px 30px;
   border: none;
   border-radius: 40px;
}

#shop:hover {
   transition: 0.5s;
   border: 2px solid rgb(92,55,36);
   background-color: white;
   color: rgb(92,55,36);
}

@media screen and (max-width: 768px) {
   .navbar {
       flex-direction: column;
       align-items: center;
       height: auto;
   }

   .pages {
       margin: 5px;
       font-size: 15px;
   }
}

.container-one {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(230, 213, 206);
}

.box-one {
   /* background-color: white; */
   padding: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
   box-sizing: border-box;
   align-self: stretch;
}

#tagline {
   font-size: 40px;
   color: black;
   font-weight: 500;
   margin-bottom: 60px;
}

#description-one {
   font-size: 20px;
   margin-bottom : 20px;
}

#explore-button {
   font-size: 22px;
   padding: 10px 20px;
   background-color: rgb(92,55,36);
   border: none;
   color: white;
   align-self: center;
   width: 70%;
   cursor: pointer;
   border-radius: 100px;
}

#explore-button:hover {
   transition: 0.5s;
   border: 2px solid rgb(92,55,36);
   background-color: rgb(255, 255, 255);
   color: black;
}

#books-poster {
   display: block;
   width : 100%;
   overflow-x: hidden;
}

#books-poster2 {
   display: none;
}

#books-poster3 {
   display: none;
}

@media (max-width: 768px) {
   .container-one {
     grid-template-columns: 1fr 2fr;
   }
 
   .box-one {
     padding: 20px;
   }
 
   #description-one {
      font-size: 14px;
   }

   #explore-button  {
      width: 100%;
   }
 
   #tagline {
      font-size: 20px;
   }

   #books-poster {
      display:block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
   }

   #books-poster1 {
      display: none;
   }

   #books-poster2 {
      display: block;
      width: 100%;
   }
 }

 @media (max-width: 480px) {
   #book-icon {
     height: 150px;
     margin-bottom: 5px;
   }

   .comments-container {
      display: flex;
      flex-direction: column;
   }

   #books-poster3 {
      display: none;
   }
   
   #bookBliss {
     font-size: 24px;
   }
}


@media (min-width: 440px) and (max-width: 768px) {
   #books-poster3 {
      display: block;
      width: 100%;
   }

   .comments-container {
      display: flex;
      flex-direction: column;
   }

   #books-poster1 {
      display: none;
   }

   #books-poster2 {
      display: none;
   }
}

.container-two {
   background-color: rgb(92,55,36);
   height: auto;
   width: 100%;
   padding: 90px 8px;
   color: white;
   font-size: 20px;
}

.features {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
}

#features-icon {
   vertical-align: middle;
   margin-right: 8px;
}

.container-three {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: auto;
   flex-direction: column;
   overflow-x: hidden;
   margin-bottom: 60px;
}

.best-sellers {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   margin: 30px 0;
   color: rgb(81, 50, 33);
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 5vw;
  height: 70%;
  position: absolute;
  top: 820px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.item-container {
      padding: 0 70px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      overflow-x: auto;
      scroll-behavior: smooth;
      flex-wrap: nowrap;
}
    
.item-container::-webkit-scrollbar {
      display: none;
}

#item-card {
   width: 250px;
   height: 480px;
   padding: 30px 20px;
   flex: 0 0 auto;
   margin-right: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #a68b7b;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(81, 50, 33, 0.5);
}

.item-image {
   position: relative;
   width: 100%;
   height: 300px;
   object-fit: cover;
   box-shadow: 0 0 10px rgba(81, 50, 33, 0.8);
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.card:hover .card-btn {
   opacity: 1;
}
 
.card-btn:hover {
   background: #ff7d7d;
   color: #fff;
 }

.slider-nav {
   margin-top: 10px;
}

.book-title {
   text-align: center;
   font-size: 20px;
   font-weight: bold;
}

.item-info {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100px;
   padding-top: 10px;
}

.price {
   font-size: 24px;
   text-align: center;
}

.btn-Cart {
   border: none;
   background-color: rgb(92,55,36);
   color: white;
   font-size: 16px;
   border-radius: 12px;
   padding: 12px 40px;
   width: 80%;
   margin-top: 8px;
   cursor: pointer;
}

.btn-Cart:hover {
   border: 2px solid rgb(92,55,36);
   background-color: white;
   color: rgb(92,55,36);
   transition: 0.3s;
}

.container-four {
   padding: 40px;
   background-image: url("assets/book-cover.jpg");
   min-height: 700px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.feedbacks {
   text-align: center;
   color: white;
   font-size: 30px;
   text-decoration:underline;
   margin: 70px;
}

.comments-container {
   display: flex;
   justify-content: center;
   align-items: center;
   display: flex;
   grid-gap: 60px;
}

.comment-card { 
   background-color: white;
   border-radius: 10px;
   box-shadow: 10px 10px 10px rgba(81, 50, 33, 0.9);
   max-width: 400px;
   padding: 40px;
}

.profile {
   margin-bottom: 10px;
}

.profile-picture {
   border-radius: 100%;
   width: 50px;
   height: 50px;
   vertical-align: middle;
   margin-right: 8px;
}

.profile-name {
   font-size: 18px;
   font-weight: bold;
}

.stars {
   display: block;
   margin: auto;
   margin-bottom: 10px;
}

.container-five {
   padding: 40px;
   min-height: 400px; 
   background-color: rgb(92,55,36);
   display: flex;
   justify-content: center;
   width: 100%;
   background-image: linear-gradient(rgba(92, 55, 36, 0.5), rgba(92, 55, 36, 0.5)),url("assets/leaves.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;

}

.subscribe-title {
   color: white;
   font-size: 32px;
   margin-top: 20px;
   margin-bottom: 10px;
}

.subscribe-brief {
   max-width: 700px;
   color: white;
   margin-bottom: 40px;
}

#input-mail {
   border: none;
   height: 42px;
   width: 300px;
   padding: 10px;
   border-radius: 4px;
   box-shadow: 0 0 10px rgba(81, 50, 33, 0.9);
}

.btn-subscribe {
   border: none;
   padding: 11px;
   border-radius: 6px;
   background-color: rgb(91, 52, 33);
   color: white;
   font-size: 16px;
   margin-left: -4px;
   cursor: pointer;
   box-shadow: 0 0 10px rgba(81, 50, 33, 0.6);
}

.btn-subscribe:hover {
   border: 2px solid rgb(91, 52, 33);
   color: rgb(91, 52, 33);
   background-color: white;
   transition: 0.5s;
}