* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

body {
   background-color:rgb(239, 239, 241);
}

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 80px;
   padding-bottom: 10px;
   padding-top: 10px;
}

.pages {
   font-size: 22px;
   color: black;
   margin-right: 60px;
   cursor: pointer;
}

.pages:hover {
   text-decoration: underline;
}

#shop {
   background-color: rgb(92,55,36);
   color: white;
   margin-top: 10px;
   padding: 10px 20px;
   border: none;
   border-radius: 8px;
}

#shop:hover {
   border: 2px solid rgb(92,55,36);
   background-color: white;
   color: rgb(92,55,36);
}

@media screen and (max-width: 768px) {
   .header {
       flex-direction: column;
       align-items: center;
       height: auto;
   }

   .pages {
       margin: 5px;
       font-size: 15px;
   }
}

.container-one {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(230, 213, 206);
}

.box-one {
   /* background-color: white; */
   padding: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
   box-sizing: border-box;
   align-self: stretch;
}

#tagline {
   font-size: 40px;
   color: black;
   font-weight: 500;
   margin-bottom: 60px;
}

#description-one {
   font-size: 20px;
   margin-bottom : 20px;
}

#explore-button {
   font-size: 22px;
   padding: 10px 20px;
   background-color: rgb(92,55,36);
   border: none;
   color: white;
   align-self: center;
   width: 70%;
   cursor: pointer;
}

#explore-button:hover {
   border: 2px solid rgb(92,55,36);
   background-color: rgb(255, 255, 255);
   color: black;
}

/* .box-two {
   /* display: flex; */
   /* flex-direction: row; */
   /* box-sizing: border-box; */
   /* padding: 25px; */
   /* background-color: rgb(215, 210, 208); 
} */

#books-poster {
   display: block;
   width : 100%;
}

#books-poster2 {
   display: none;
}

#books-poster3 {
   display: none;
}

@media (max-width: 768px) {
   .container-one {
     grid-template-columns: 1fr 2fr;
   }
 
   .box-one {
     padding: 20px;
   }
 
   #description-one {
      font-size: 14px;
   }

   #explore-button  {
      width: 100%;
   }
 
   #tagline {
      font-size: 20px;
   }

   #books-poster {
      display:block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
   }

   #books-poster1 {
      display: none;
   }

   #books-poster2 {
      display: block;
      width: 100%;
   }
 }

 @media (max-width: 480px) {
   #book-icon {
     height: 150px;
     margin-bottom: 5px;
   }

   #books-poster3 {
      display: none;
   }
   
   #bookBliss {
     font-size: 24px;
   }
}

.best-book-title {
   font-size : 32px;
   font-weight: 500;
}

@media (min-width: 440px) and (max-width: 768px) {
   #books-poster3 {
      display: block;
      width: 100%;
   }

   #books-poster1 {
      display: none;
   }

   #books-poster2 {
      display: none;
   }
}

.container-two {
   background-color: rgb(92,55,36);
   height: auto;
   width: 100%;
   padding: 90px 8px;
   color: white;
   font-size: 20px;
}

.features {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
}

#features-icon {
   vertical-align: middle;
   margin-right: 8px;
}

.container-three {
   /* border: 2px solid red; */
   display: flex;
   justify-content: center;
   align-content: center;
   width: 100%;
}

.title {
   font-size: 28px;
   color: rgb(81, 50, 33);
}

